/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET*/

/*HIDDEN*/ /* A faire !!!*/
.hidden {
    display: none;
}

body {
    font-family: Inter, Lato, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fields', Lato, georgia, serif;
}

/*Burger Menu*/

.nav-bar{
    position: absolute;
    background-color: var(--white);
    max-width: 260px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.menu-links{
    order: 0;
}

.nav-bar>a{
    display: none;
}

.search{
    order: 2;
}

.contact-button{
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 14px 0;
}

.contact-button>a:first-of-type{
    background-color: transparent;
    color: var(--green4);
    border: 2px solid var(--green4);
}

.contact-button>a{
    background-color: var(--green4);
    color: var(--white);
    font-size: 0.75em; /*12*/
    font-weight: 700;
    line-height: 1.25em; /*15*/
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
}

.menu-links > li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid var(--grey);
}

.menu-links > li > a {
    width: 100%;
    color: var(--black);
    font-size: 1.125em; /*18*/
    font-weight: 700;
    line-height: 1.5em; /*27*/
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.menu-links > li > a:after {
    content: url("../img/arrow_big.svg");
}