$white: #fff;
$black: #38312F;
$grey: #BABAB9;

$green_2: #9FE12D;
$green_3: #599D15;
$green_4: #2E7918;
$extra_light_green: #F7FFE5;

$green_footer_hover: #D4FD80;

$red: #CE4755;
$red-hover: #A73440;